APP_PORT=8080

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=indexer
MYSQL_USER=root
MYSQL_PASSWORD=root

OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200

EMBEDDINGS_ENABLED=false
EMBEDDING_DIMENSION=384
EMBEDDING_TIMEOUT=30s